
.container {
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    margin:auto;
    margin-top: 20px;
}

button{
    height: 45px;
    background-color: rgb(127, 255, 159);
    padding: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

button:hover {
    color: rgb(255, 0, 106);
    filter: drop-shadow(0 0 2em #f4063daa);
}

input{
    display: flex;
    gap: 2px;
    justify-content:center;
}

h1{
    font-size: x-large;
    text-align: center;
    color:blue;
}